{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}


{% block content %}
<div class="container">
<div class="row">
<div class="col-xss-6" style="margin-left:-10%;">
    <img src="static/images/about.png" style=" height: 500px; display: flex;
  justify-content: center;
  width: inherit;
  overflow: hidden;">
</div>

    <div class="col-xss-6" style="background-color:red; margin-top:5%;">
        <h1>ABOUT US</h1>
        <p> Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as
        Lorem ipsum, in graphical and textual context, refers to filler text that is placed in a document or visual presentation. Lorem ipsum is derived from the Latin "dolorem ipsum" roughly translated as</p>
    </div>
    </div>

    </div>
{% endblock %}