{% extends 'base.html' %}

{% block title %}Checkout {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Item in my cart:</h3>
            <table class="table table">
                <thead>
                  <tr>
                    <th>SN</th>
                    <th>Pets</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>

                  </tr>
                </thead>

                <tbody>
                {% for cp in cart.cartproduct_set.all %}
                <tr>
                <td>{{forloop.counter}}</td>
                <td>{{cp.pets.title}}</td>
                <td>{{cp.rate}}</td>
                <td>{{cp.quantity}}</td>
                <td>{{cp.subtotal}}</td>
                </tr>
                {% endfor %}

                <tr>
                    <th colspan="4" class="text-right">Total: </th>
                    <th>Rs. {{cart.total}}</th>

                </tr>
                <tr>
                  <p class="float-right">You can update your cart here, <a href="{% url 'mycart' %}" class="btn btn-info ">Update Item</a></p>
                </tr>
                </tbody>
            </table>

        </div>


        <div class="col-md-12 text-center">
            <h3>Checkout:</h3>
            <p style="font-weight:bold; margin-left:5%;">** Valid Information only **</p>
            <form action="" method="POST" class="form-group">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Place Order</button>
            </form>
        </div>
    </div>
</div>
<style>
     .navs
{

width: 100%;
background: rgb(36, 35, 35);
position:fixed !important;
z-index:1; /*Add this*/
  width:100%;
  height: auto;
  text-align:center;
  vertical-align:middle;
  line-height:50px;
  top:0px;


}
#navbar{
    height: 90px;
    width: 100%;
    display: flex;


}
.navbar-brand{
    font-size: 40px !important;
    font-family: vollkorn;
     text-shadow: 1px 2px 1px #699942;
     font-weight: bold;
     color: rgb(98, 240, 141) !important;

}

.navbar-txt{
    margin-left: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: whitesmoke !important;
}
.nav-item{
    margin-left: 10px;
}
.navbar-txt:hover{
    color:yellowgreen !important;

}
.container{
    font-family: 'Poppins', sans-serif;
    }

 p input{
   width: 210px;
   height: 34px;
  box-shadow: rgb(142, 236, 20) 0px 20px 30px -10px;
  border: 0.5px solid rgb(191, 233, 128) !important;
  border-radius: 12px;

 }
 p label{
        width: 150px;
 }
</style>
{% endblock %}
