{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}


          <div class="txt-changing">

          </div>


          <div class="bg-text">
            <h1>Dreamed having a pet..?</h1>
            <p>We will fulfill it </p>
          </div>


          <h2 style="font-size: 36px !important;
        font-family: vollkorn;
        text-shadow: 10px 8px 6px gray;
        font-weight: bold;
        color: black !important;
        text-align: center;">Why We Are Here?</h2>
          <br>



{% endblock %}