{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
          <div class="txt-changing">

          </div>

          <div class="bg-text">
            <h1 style="font-size: 36px !important;
                        font-family: vollkorn;
                        text-shadow: 10px 8px 6px gray;
                        font-weight: bold;
                        color: white !important;
                        text-align: center;">Dreamed having a pet..?</h1>

            <p style="font-size: 36px !important;
                        font-family: vollkorn;
                        text-shadow: 10px 8px 6px gray;
                        font-weight: bold;
                        color: white !important;
                        text-align: center;">We will fulfill it </p>
          </div>


          <h2 style="font-size: 36px !important;
        font-family: vollkorn;
        text-shadow: 10px 8px 6px gray;
        font-weight: bold;
        color: black !important;
        text-align: center;" class="mb-9">Why We Are Here?</h2>
          <br>
<div class="row justify-content-center mr-3">

    <div class="card-body col-md-3 ml-4 mt-3 midd">
        <h4 class="text-center" >Original Breed <i class="fas fa-check fa-xs"></i></h4><hr>
        <img src="static/images_two/cnt1.jpg"><hr>
        <p class="text-center">We have best breed totally imported. All the breeds are
        tested and possess the original gin. </p>
    </div>

     <div class="card-body col-md-3 ml-4 mt-3 midd">
        <h4 class="text-center" >Delivery On <i class="fas fa-clock-o fa-sm"></i></h4><hr>
        <img src="static/images_two/deliver.jpg" ><hr>
         <p class="text-center">Our team are actively working on quick delivery facility.
         We always try to please our customers by delivering before time. </p>
    </div>

     <div class="card-body col-md-3 ml-4 mt-3 midd">
        <h4 class="text-center" >Doctors in Home <i class="fas fa-stethoscope fa-xs"></i></h4><hr>
        <img src="static/images_two/doc.jpg" ><hr>
         <p class="text-center">We have facility in our site from where you can easily contact to our Veterinary Doctor and doc will
         be coming to your house for the treatment of your pets.</p>
    </div>

</div>
</div>
<style>
  .midd{

    border-radius: 20px 0px 20px 0px;
}
.container-fluid{
    font-family: 'Poppins', sans-serif;
}

</style>
{% endblock %}