{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}


<div class="txt-changing">

          </div>

          <!-- <div class="card mb-3 home">
            <img class="card-img-top cover-img responsive" src="1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        -->
        <div class="bg-image"></div>

          <div class="bg-text">
            <h1>Dreamed having a pet..?</h1>
            <p>We will fulfill it </p>
          </div>




          <div class="contact" id="contact">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 col-md-offset-3" >
                  <div class="well well-sm">
                    <form class="form-horizontal bg-dark" action="" method="post">
                    <fieldset>
                      <legend class="text-center bg-light ">Contact us</legend>

                      <!-- Name input-->
                      <div class="form-group">
                        <label class="col-md-3 control-label input-lbl" for="name">Name</label>
                        <div class="col-md-9">
                          <input id="name" name="name" type="text" placeholder="Your Name" class="form-control inpt-field">
                        </div>
                      </div>

                      <!-- Email input-->
                      <div class="form-group">
                        <label class="col-md-5 control-label input-lbl" for="email">Your E-mail</label>
                        <div class="col-md-9">
                          <input id="email" name="email" type="text" placeholder="Your email" class="form-control inpt-field">
                        </div>
                      </div>

                      <!-- Message body -->
                      <div class="form-group">
                        <label class="col-md-5 control-label input-lbl" for="message">Your message</label>
                        <div class="col-md-9">
                          <textarea class="form-control inpt-field" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                        </div>
                      </div>

                      <!-- Form actions -->
                      <div class="form-group">
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn btn-success btn-lg cntct-submit">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                    </form>
                  </div>
                </div>
            </div>
          </div>


          <h2>asaaa</h2>
          <br>


<style>
    .txt-changing{
    height: 400px;
    width: 100%;
    background: url(static/images/pets.png) no-repeat center ;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.cover-img{
    filter: blur(5px);
}
.cover-img{
    display: flex;
    height: 120vh;
    background: url(1.jpg) no-repeat center !important;
    color: #fff;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 0;
}





.bg-image {
    /* The image used */
    background-image: url("E:\PetsToHome\templates\images\pets.png");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: static;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin-left: 50%;
  }


  .form-horizontal{
      background: url(https://cdn.hipwallpaper.com/i/85/56/TamSoR.jpg)no-repeat center;
  }

  .input-lbl
  {
      font-size: 18px;
      font-weight: bold;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: rgb(233, 215, 215);

  }

  .inpt-field
  {
      background: none !important;
        border: 1px solid rgb(191, 233, 128) !important;
      box-shadow: rgb(157, 236, 120) 0px 20px 30px -10px;
      color: rgb(78, 207, 106) !important;
  }

  .well-sm
  {
    box-shadow: rgb(27, 30, 32) 0px 20px 30px -10px !important;
  }

  .inpt-field:hover
  {
    box-shadow: rgb(240, 118, 81) 0px 20px 30px -10px;
  }

  .form-group
  {
      margin-left: 15%;
  }

  .cntct-submit
  {
      margin-right: 22%;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border-radius: 6px;
  }

  .cntct-submit:hover{
    box-shadow: rgb(219, 71, 25) 1px 20px 30px -10px;
    background-color: cornflowerblue !important;
  }
</style>


{% endblock %}