
<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light navs">
            <a class="navbar-brand" href="#">PetsToHome</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link navbar-txt" href="{% url 'main' %}">Home </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link navbar-txt" href="#">Pets</a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link navbar-txt" href="#">PetsRelated</a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link  navbar-txt" href="#">E-Vetenary</a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link navbar-txt" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link navbar-txt" href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
              <form class="form-inline ml-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SIGN IN</button>
              </form>
            </div>
          </nav>

</div>

